<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <h1>Node - <%= @physical_manager.host %></h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <%= pie_chart @physical_overview_space_graph, donut: true %>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <h2>Physical Space Information</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total:
        </div>
        <div class="col-xs-6 data_value">
          <%= @physical_manager.total_physical_space %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Used:
      </div>
        <div class="col-xs-6 data_value">
          <%= @physical_manager.total_physical_space_used %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Free:
      </div>
        <div class="col-xs-6 data_value">
          <%= @physical_manager.total_physical_space_free %>
        </div>
      </div>
      
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <%= pie_chart @aggregates_space_graph, donut: true, legend: false %>
    </div>
    <div class="col-sm-6">
      

      <div class="row">
        <div class="col-xs-12">
          <h2>Aggregate Sizes:</h2>
        </div>
      </div>

      <%- (@physical_manager.aggregates.sort_by {|aggregate| aggregate.size}).reverse.each_with_index do |aggregate, index| -%>
        <div class="row<%- unless index % 2 == 0 -%> zebra_odd<%-end-%>">
          <div class="col-xs-6 data_label">
            <%= link_to aggregate.name, node_aggregate_path(@physical_manager.host, aggregate.name) %>:
          </div>
          <div class="col-xs-6 data_value">
            <%= aggregate.size.to_human_readable_s %>
          </div>
        </div>
      <%- end -%>


    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="subsection_heading">Node Properties</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 data_label">
      Filers:
    </div>
    <div class="col-xs-10 data_value">
      <ul>
        <%- if @physical_manager.is_7mode? -%>
          <li><%= link_to @physical_manager.host, filer_path(@physical_manager.host) %></li>
        <%- else -%>
          <%- @physical_manager.vservers.keys.each do |vserverhostname| -%>
            <li><%= link_to vserverhostname, filer_path(vserverhostname) %></li>
          <%- end -%>
        <%- end -%>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 data_label">
      Id:
    </div>
    <div class="col-xs-10 data_value">
      <%= @physical_manager.id %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 data_label">
      Is 7 Mode:
    </div>
    <div class="col-xs-10 data_value">
      <%= @physical_manager.is_7mode?.to_s %>
    </div>
  </div>
  


</div>
