<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        <span class="glyphicon glyphicon-hdd"></span>
        Aggregate - <%= @aggregate.node_host %> - <%= @aggregate.name %>
      </h1>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-6">
      <%= pie_chart @aggregate_space_graph, donut: true %>
    </div>
    
    <div class="col-sm-6">

      <div class="row">
        <div class="col-xs-12">
          <h2 class="subsection_heading">Aggregate Space Information</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total:
        </div>
        <div class="col-xs-6 data_value">
          <%= @aggregate.size.to_human_readable_s %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Used:
        </div>
        <div class="col-xs-6 data_value">
          <%= @aggregate.used.to_human_readable_s %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Free:
        </div>
        <div class="col-xs-6 data_value">
          <%= @aggregate.free.to_human_readable_s %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Volume Provisioning</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Volume Space Allocated:
        </div>
        <div class="col-xs-6 data_value">
          <%= @aggregate.total_volume_space_allocated %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          <%= @provision_label %>
        </div>
        <div class="col-xs-6 data_value">
          <%= @provision_value %>
        </div>
      </div>

    </div>
    
  </div>

  <%= render :partial => 'volume_size_information', :locals => { :volumes => @aggregate.volumes, :include_aggregate_label => false} %>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="subsection_heading">Aggregate Properties</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 data_label">
      Managing Node:
    </div>
    <div class="col-xs-10 data_value">
      <%= link_to @aggregate.node_host, node_path(@aggregate.node_host) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 data_label">
      Id:
    </div>
    <div class="col-xs-10 data_value">
      <%= @aggregate.id %>
    </div>
  </div>

</div>
