<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <h1>Filer - <%= @filer.host %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= pie_chart @filer_volume_overview_space_graph, donut: true %>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <h2>Volume Provisioning</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Volume Allocated:
        </div>
        <div class="col-xs-6 data_value">
          <%= @filer.total_volume_space_allocated %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Volume Snapshot Reserve:
        </div>
        <div class="col-xs-6 data_value">
          <%= @filer.total_volume_space_snapshot_reserve %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Volume Used (Data):
      </div>
        <div class="col-xs-6 data_value">
          <%= @filer.total_volume_space_used %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Volume Free (Data):
      </div>
        <div class="col-xs-6 data_value">
          <%= @filer.total_volume_space_free %>
        </div>
      </div>
      
    </div>

  </div>


  <div class="row">

    <div class="col-sm-6">
      <%= pie_chart @filer_volumes_space_graph, donut: true, legend: false, colors: ChartHandler.all_browser_colors %>
    </div>

    <div class="col-sm-6">
      

      <div class="row">
        <div class="col-xs-12">
          <h2>Space Allocated to Volumes</h2>
        </div>
      </div>

      <%- (@filer.volumes.sort_by {|volume| volume.allocated}).reverse.each_with_index do |volume, index| -%>
        <div class="row<%- unless index % 2 == 0 -%> zebra_odd<%-end-%>">
          <div class="col-xs-6 data_label">
            <%= link_to volume.name, filer_volume_path(@filer.host, volume.name) %> (<%= link_to volume.containing_aggregate_name, aggregate_path(volume.containing_aggregate_uuid) %>):
          </div>
          <div class="col-xs-6 data_value">
            <%= volume.allocated.to_human_readable_s %>
          </div>
        </div>
      <%- end -%>


    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="subsection_heading">Filer Properties</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 data_label">
      Id:
    </div>
    <div class="col-xs-10 data_value">
      <%= @filer.id %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 data_label">
      Is 7 Mode:
    </div>
    <div class="col-xs-10 data_value">
      <%= @filer.is_7mode?.to_s %>
    </div>
  </div>

  <%- if @filer.is_7mode? && @filer.partner -%>
    <div class="row">
      <div class="col-xs-2 data_label">
        Partner:
      </div>
      <div class="col-xs-10 data_value">
        <%= link_to @filer.partner.host, filer_path(@filer.partner.host) %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 data_label">
        Model:
      </div>
      <div class="col-xs-10 data_value">
        <%= @filer.model %>
      </div>
    </div>
  <%- end -%>
    
</div>
