<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Locations</h1>
    </div>
  </div>
  <div class="row">
    <%- @locations.each do |name, config| -%>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <h2>
              <span class="glyphicon glyphicon-map-marker"></span>
              <%= link_to name, location_path(name) %>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 data_label">
            Total Space:
          </div>
          <div class="col-xs-6 data_value">
            <%= config[:totals].physical_provisioned.to_human_readable_s %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 data_label">
            Space Provisioned to Volumes:
          </div>
          <div class="col-xs-6 data_value">
            <%= config[:totals].volume_provisioned.to_human_readable_s %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%- if config[:totals].physical_provisioned > config[:totals].volume_provisioned -%>
              <%= pie_chart @location_charts[name], donut: true, colors: ChartHandler.under_provision_colors %>
            <%- else -%>
              <%= pie_chart @location_charts[name], donut: true, colors: ChartHandler.over_provision_colors %>
            <%- end -%>
          </div>
        </div>
      </div>
    <%- end -%>
  </div>
</div>
