<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <h1>Location - <%= @location %></h1>
    </div>
  </div>

  <!-- PHYSICL START -->
  <!-- All physical roll-up -->
  <div class="row">
    <div class="col-sm-12">
      <h2>Physical Summary</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= pie_chart @physical_summary_graph, donut: true %>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <h3>Physical Space Information</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total:
        </div>
        <div class="col-xs-6 data_value">
          <%= @total_physical_size %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Used:
      </div>
        <div class="col-xs-6 data_value">
          <%= @total_physical_used %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Free:
      </div>
        <div class="col-xs-6 data_value">
          <%= @total_physical_free %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Volume Provisioning</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Volume Space Allocated:
        </div>
        <div class="col-xs-6 data_value">
          <%= @total_volume_allocated %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          <%= @provision_label %>
        </div>
        <div class="col-xs-6 data_value">
          <%= @provision_value %>
        </div>
      </div>
    </div>
  </div>

  <!-- Aggregate roll-up -->
  <%= render :partial => 'aggregate_size_information', :locals => {:aggregates => @all_aggregates, :include_node_label => true} %>

  <!-- Physical Node List -->
  <%- if @cluster_vifs.values.count > 0 -%>
    <div class="row">
      <div class="col-sm-12">
        <h3>Clusters</h3>
      </div>
    </div>
  <%- end -%>
  <%- @cluster_vifs.values.each do |cluster| -%>
    <div class="row">
      <div class="col-sm-12">
        <h4><%= link_to cluster.host, node_path(cluster.host) %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= pie_chart charts_node_physical_show_path(cluster.host) %>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <h5><%= cluster.host %> Size Information</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 data_label">
            Total:
          </div>
          <div class="col-xs-6 data_value">
            <%= cluster.total_physical_space %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 data_label">
            Used:
          </div>
          <div class="col-xs-6 data_value">
            <%= cluster.total_physical_space_used %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 data_label">
            Free:
          </div>
          <div class="col-xs-6 data_value">
            <%= cluster.total_physical_space_free %>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
  <%- if @sevenmode_nodes.values.count > 0 -%>
    <div class="row">
      <div class="col-sm-12">
        <h3>7-Mode Nodes</h3>
      </div>
    </div>
  <%- end -%>
  <%- @sevenmode_nodes.values.each do |node| -%>
    <div class="row">
      <div class="col-sm-12">
        <h4><%= link_to node.host, node_path(node.host) %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= pie_chart charts_node_physical_show_path(node.host) %>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <h5><%= node.host %> Size Information</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 data_label">
            Total:
          </div>
          <div class="col-xs-6 data_value">
            <%= node.total_physical_space %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 data_label">
            Used:
          </div>
          <div class="col-xs-6 data_value">
            <%= node.total_physical_space_used %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 data_label">
            Free:
          </div>
          <div class="col-xs-6 data_value">
            <%= node.total_physical_space_free %>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
  <!-- PHYSICL END -->


  <!-- Logical Roll Up-->
  <div class="row">
    <div class="col-sm-12">
      <h2>Logical Summary</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= pie_chart @logical_summary_graph, donut: true %>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <h3>Volume Space Information</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Allocated to Volumes:
        </div>
        <div class="col-xs-6 data_value">
          <%= @total_volume_allocated %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Snapshot Reserve:
        </div>
        <div class="col-xs-6 data_value">
          <%= @total_volume_snapshot_reserve %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Used Space in Volumes (Data):
      </div>
        <div class="col-xs-6 data_value">
          <%= @total_volume_data_used %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 data_label">
          Total Free Space in Volumes (Data):
      </div>
        <div class="col-xs-6 data_value">
          <%= @total_volume_data_free %>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => 'volume_size_information', :locals => { :volumes => @all_volumes, :include_aggregate_label => true} %>

  <%- if @filers.values.count > 0 -%>
    <div class="row">
      <div class="col-sm-12">
        <h3>Filers</h3>
      </div>
    </div>
  <%- end -%>
  <%- @filers.values.each do |filer| -%>
    <div class="row">
      <div class="col-sm-12">
        <h4><%= link_to filer.host, filer_path(filer.host) %><%- if filer.is_7mode? -%> (7-mode)<%- end -%></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= pie_chart charts_filer_virtual_show_path(filer.host) %>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <h5><%= filer.host %> Volume Space Information</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 data_label">
            Total Volume Allocated:
          </div>
          <div class="col-xs-6 data_value">
            <%= filer.total_volume_space_allocated %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 data_label">
            Total Volume Snapshot Reserve:
          </div>
          <div class="col-xs-6 data_value">
            <%= filer.total_volume_space_snapshot_reserve %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 data_label">
            Total Volume Used (Data):
        </div>
          <div class="col-xs-6 data_value">
            <%= filer.total_volume_space_used %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 data_label">
          Total Volume Free (Data):
          </div>
          <div class="col-xs-6 data_value">
            <%= filer.total_volume_space_free %>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
  <!-- LOGICAL END -->
</div>
