<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Spacecommander" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navigation_bar' %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
      <hr />
      <footer> 
        <p>&copy; Aaron M. Bond <%= Time.now.year %></p>
      </footer>
    
    </div>
  </body>
</html>
